<header>
    <div class="container-fluid">
        <div class="row h-100 align-items-center">
            <div class="col-1 text-center">
                <a href="/home">
                  <img src="assets/images/gta-v-green-4.png" class="img-circle user-image" alt="User Image">
                </a>
            </div>
            <div class="col-4">
                <h4 class="main-title">User Control Panel</h4>
            </div>
            <div class="col-7 navbar-ul text-light">
                <nav class="navbar navbar-expand list-unstyled">
                    <div class="navbar-collapse justify-content-end">
                        <li>
                            <a class="nav-item">
                              Home
                            </a>
                        </li>
                        <li>
                            <a class="nav-item">
                              News
                            </a>
                        </li>
                        <li>
                            <a class="nav-item">
                              Download
                            </a>
                        </li>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
